.sidebar{
    width: 280px;
    padding: 0 20px;
    @include media(992){
        display: none;
    }
    &__title{
        color: var(--dark);
        font-size: 20px;
        display: flex;
        line-height: 28px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        fill: #bfc1c7;
        margin: 0 0 12px 20px;
        svg{
            margin-left: 8px;
        }
        &:hover{
            text-decoration: underline;
        }
    }
    &__list{
        display: flex;
        flex-direction: column;
        row-gap: 2px;
        margin-bottom: 40px;
    }
    &__item{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-radius: 4px; 
        padding: 8px 8px 8px 20px;
        font-size: 15px;
        line-height: 20px;
        color: var(--dark);
        transition: 300ms ease-out;
        column-gap: 12px;
        picture{
            line-height: 0;
        }
        img{
            width: 48px;
            height: 48px;
            border-radius: 50%;
            line-height: 0;
        }
        small{
            font-size: 13px;
            color: #919399;
            font-weight: 400;
            line-height: 20px;
        }
        &.active{
            background: rgba(0,16,61,.08);
            font-weight: 700;
        }
        &:hover{
            background: rgba(0,16,61,.08);
        }
    }
}
.banners{
    width: 280px;
    padding: 0 20px;
    @include media(1200){
        display: none;
    }
}