mixin sidebar()
    aside.sidebar 
        a(href="#!").sidebar__title Программирование 
        .sidebar__list 
            a(href="#!").sidebar__item Android 
            a(href="#!").sidebar__item.active C/C++ 
            a(href="#!").sidebar__item C# 
            a(href="#!").sidebar__item iOS 
            a(href="#!").sidebar__item Java 
            a(href="#!").sidebar__item JavaScript 
            a(href="#!").sidebar__item jQuery 
            a(href="#!").sidebar__item SQL 
            a(href="#!").sidebar__item Perl 
            a(href="#!").sidebar__item PHP 
            a(href="#!").sidebar__item Python 
            a(href="#!").sidebar__item Веб-дизайн 
            a(href="#!").sidebar__item Верстка, CSS, HTML, SVG 
            a(href="#!").sidebar__item Системное администрирование 
            a(href="#!").sidebar__item Другие языки и технологии 