doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.min.css")
        title Document
    body 
        .wrapper 
            include components/header 
            +header 
            main.main 
                .main__body.container
                    include components/sidebar
                    +sidebar 
                    .mid
                        .content 
                            .content__header.bb-none 
                                h2.content__subtitle Программирование 
                                h1.content__title C/C++
                                form(action="").content__search
                                    input(type="text" placeholder="Задайте свой вопрос здесь").content__search-input
                                    button(type="submit").content__search-btn.lg Задать вопрос
                                    button(type="submit").content__search-btn.sm 
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16" class="nBqR1"><path fill-rule="evenodd" d="M12.696 7.256L9.657 4.217a1 1 0 00-1.415 1.414l1.344 1.344H3.949a1.001 1.001 0 000 2h5.637l-1.344 1.343a1.002 1.002 0 000 1.415c.391.39 1.024.39 1.415 0l3.039-3.04A.993.993 0 0013 7.975a.997.997 0 00-.293-.708l-.011-.011z"></path></svg>
                                .content__filter 
                                    .content__filter-wrap
                                        a(href="#!").content__filter-item.active Открытые 
                                        a(href="#!").content__filter-item На голосовании 
                                        a(href="#!").content__filter-item Лучшие
                                        a(href="#!").content__filter-item Решенные 
                        .content 
                            .content__header.bb-none
                                p.content__title Ответить на вопрос
                                form(action="").content__form 
                                    .content__form-img 
                                        span D
                                    .content__form-body
                                        textarea(placeholder="") 
                                        .content__form-buttons
                                            button(type='button').content__form-btn 
                                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 16 16" class="G0ycx"><path fill-rule="evenodd" d="M13 1a2 2 0 012 2v10a2 2 0 01-2 2H3a2 2 0 01-2-2V3a2 2 0 012-2h10zm-1.274 12c.514 0 .932-.373.932-.833a.77.77 0 00-.133-.43l-.014-.02-1.883-3.294c-.16-.253-.386-.52-.811-.52-.437 0-.659.272-.817.53l-1.426 1.966-.862-.91C6.504 9.269 6.343 9 5.929 9c-.414 0-.614.297-.816.538l-1.631 2.19a.762.762 0 00-.14.439c0 .46.418.833.932.833h7.452zM5.5 3a1.5 1.5 0 11-.001 3.001A1.5 1.5 0 015.5 3z"></path></svg>
                                                span Фото
                                            button(type='button').content__form-btn 
                                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 16 16" class="G0ycx"><path fill-rule="evenodd" d="M13.2 2c.993 0 1.8.807 1.8 1.8v8.4c0 .993-.807 1.8-1.8 1.8H1.8C.807 14 0 13.193 0 12.2V3.8C0 2.807.807 2 1.8 2h11.4zM10 12V8H5v4h5zm-7-1.5a.5.5 0 00-1 0v1a.5.5 0 001 0v-1zm10 0a.5.5 0 00-1 0v1a.5.5 0 001 0v-1zm-10-3a.5.5 0 00-1 0v1a.5.5 0 001 0v-1zm10 0a.5.5 0 00-1 0v1a.5.5 0 001 0v-1zM10 6V4H5v2h5zM3 4.5a.5.5 0 00-1 0v1a.5.5 0 001 0v-1zm10 0a.5.5 0 00-1 0v1a.5.5 0 001 0v-1z"></path></svg>
                                                span Видео
                                        .content__form-bot 
                                            button(type="submit") 
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" class="DY2o8"><path fill-rule="evenodd" d="M15 14a1.002 1.002 0 01-1.703.71h-.004l-.003-.01-1.704-1.7H3c-1.104 0-2-.9-2-2V3c0-1.1.896-2 2-2h10c1.104 0 2 .9 2 2v11zM5 6c.552 0 1 .45 1 1s-.448 1-1 1-1-.45-1-1 .448-1 1-1zm3 0c.552 0 1 .45 1 1s-.448 1-1 1-1-.45-1-1 .448-1 1-1zm3 0c.552 0 1 .45 1 1s-.448 1-1 1-1-.45-1-1 .448-1 1-1z"></path></svg>
                                                span Ответить 
                                            .content__form-div 
                                                span Нажимая на кнопку, вы принимаете условия 
                                                a(href="#!") пользовательского соглашения 
                        .content 
                            .content__header.bb-none 
                                a(href="#!").content__title.mb0 Похожие вопросы 
                                .content__item-wrap.similar
                                    .content__item
                                        .content__item-content
                                            .content__item-header 
                                                .content__item-img 
                                                    span D 
                                                .content__item-info
                                                    a(href="#!").content__item-name oxygen
                                                    p.content__item-date 36 минут назад 
                                            a(href="article.html").content__item-detail Pycharm ,python помогите пожалуйста
                                            .content__item-sb 
                                                a(href="#!").content__item-category Веб-дизайн 
                                                a(href="#!").content__item-link 
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" class=""><path fill-rule="evenodd" d="M15 14a1.002 1.002 0 01-1.703.71h-.004l-.003-.01-1.704-1.7H3c-1.104 0-2-.9-2-2V3c0-1.1.896-2 2-2h10c1.104 0 2 .9 2 2v11zM5 6c.552 0 1 .45 1 1s-.448 1-1 1-1-.45-1-1 .448-1 1-1zm3 0c.552 0 1 .45 1 1s-.448 1-1 1-1-.45-1-1 .448-1 1-1zm3 0c.552 0 1 .45 1 1s-.448 1-1 1-1-.45-1-1 .448-1 1-1z"></path></svg>
                                                    span 0
                    include components/banners 
                    +banners 
        script(src="js/app.min.js") 